.footer-div {
    color: #ffffff;
    height: 27px;
    justify-content: center ;
    background-color: transparent;
    position: relative;
    display: flex;
}

.footer-text {
    font-weight: 100;
}
